body {
    margin: 0;
    padding: 0;
}

header {
    background-color: maroon;
    color: white;
    width: 50%;
}

h1 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}